.main{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,0.5);

}

#username:focus,#password:focus{
    background-color:rgba(0,0,0,0.6) ;
}